.boxscore{
    // display: grid;
    // grid-template-rows: auto auto;
    // row-gap: 2rem;
    // column-gap: 2rem;

    &__team{        
        &--header, &--away {
            display: grid;
            grid-template-columns: 10rem 20rem 10rem;
            // grid-template-rows: auto;
        }

        &__units{
            display: grid;
            // need to make this dynamic for more innings
            grid-template-columns: repeat(9, 2rem);
            // grid-template-rows: auto;
            
            & > * {
                // border: 1px solid blue;
            }
        }

        &__results {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        &__results > span {
            border: 1px solid red;
        }

    }
}