.mlbboxscore{
    border-collapse: collapse;

    &__tablebody, &__tablehead{

        td {
            border: 1px solid gray;
            padding: .5rem;
            text-align: center;
        }

        &__pitchers{
            &__table{
                // border: 1pt solid white;
                // table-layout: fixed;
                width: 100%;
                &--win, &--lose, &--save {
                    color:green;
                    width: 33.33333%;
                }
            }
        }

        &__teams{
            &__table{
                width:100%;
                &--away, &--home{
                    background-color: #5081b8;
                    width: 40%;
                    font-size: 1.5rem;  
                    font-weight: 600;
                }
            }
        }
    }
}