.mlbboxscore{

    @include centerElement;

    border-collapse: collapse;

    &__tablebody, &__tablehead{

        td:not(.mlbboxscore__tablebody__teams) {
            padding: .5rem;
            background-color: $color-gray-light;
            color: $color-gray-dark;
            font-weight: 500;
        }

        td{
            border: .1rem solid $color-gray-dark;
            text-align: center;
        }

        &__totals{
            background-color: #ededed;
        }

        &__teams{
            padding:0;

            &__table{
                border-collapse: collapse;
                width:100%;
                &--away, &--home{
                    width: 40%;
                    font-size: 1.5rem;  
                    font-weight: 600;
                }
                &--gstatus{
                    background-color: $color-gray-medium;
                    color: $color-gray-darker;
                }
                &--away{
                    color: $color-white-light;
                    background-color: #023163;
                }
                &--home{
                    color: $color-white-light;
                    background-color: #cd1241;
                }
            }
        }
    }
}

