*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

#root {
  font-size: 62.5%;
  font-family: 'Courier New', Courier, monospace;
  padding: 1.5rem; }
  @media only screen and (max-width: 75em) {
    #root {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    #root {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    #root {
      font-size: 75%; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-huge {
  margin-top: 10rem !important; }

.u-margin-bottom-top {
  margin-top: 8rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.grid__container {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 2rem; }

.container {
  --numberOfInnings: 9;
  display: grid;
  grid-template-columns: 20rem repeat(13, 10rem);
  grid-template-rows: repeat(3, 5rem) 10rem;
  height: 100vh;
  padding: 2rem;
  background-color: brown; }
  .container--pitcher {
    grid-column: span 14;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    .container--pitcher > * {
      border: 2px solid black;
      color: black;
      background-color: green;
      display: grid;
      place-items: center;
      place-self: stretch; }
  .container > * {
    border: 2px solid black;
    color: black;
    background-color: skyblue;
    display: grid;
    place-items: center; }

table td:not(.mlbboxscore__tablebody__teams),
table th:not(.mlbboxscore__tablebody__teams__table--away),
table th:not(.mlbboxscore__tablebody__teams__table--gstatus),
table th:not(.mlbboxscore__tablebody__teams__table--home) {
  padding: 1rem; }

.mlbboxscore {
  border: 2.5px solid #3f3f3f;
  border-radius: .5rem;
  border-spacing: 0;
  text-align: center;
  font-size: 2rem;
  color: #151515;
  background-color: #eeeeee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .mlbboxscore__tablehead--teamabrv, .mlbboxscore__tablehead--inning, .mlbboxscore__tablehead__totals {
    border-bottom: 2.5px solid #3f3f3f;
    font-weight: 600; }
    .mlbboxscore__tablehead--teamabrv--runs, .mlbboxscore__tablehead--inning--runs, .mlbboxscore__tablehead__totals--runs {
      border-left: 2.5px solid #3f3f3f; }
  .mlbboxscore__tablehead--teamabrv {
    border-right: 2.5px solid #3f3f3f; }
  .mlbboxscore__tablebody__teamabrv--away, .mlbboxscore__tablebody__teamabrv--home {
    border-right: 2.5px solid #3f3f3f;
    font-weight: 600; }
  .mlbboxscore__tablebody__totals__runs--away, .mlbboxscore__tablebody__totals__runs--home {
    border-left: 2.5px solid #3f3f3f; }
  .mlbboxscore__tablebody__totals__runs--home, .mlbboxscore__tablebody__totals__runs--away, .mlbboxscore__tablebody__totals__hits--home, .mlbboxscore__tablebody__totals__hits--away, .mlbboxscore__tablebody__totals__errors--home, .mlbboxscore__tablebody__totals__errors--away {
    font-weight: 600; }
  .mlbboxscore__tablebody__teams__table {
    border-collapse: collapse; }
    .mlbboxscore__tablebody__teams__table--away, .mlbboxscore__tablebody__teams__table--home {
      width: 45%; }
    .mlbboxscore__tablebody__teams__table--gstatus {
      background-color: #eeeeee;
      color: #151515; }
    .mlbboxscore__tablebody__teams__table--away {
      color: #fdffff;
      background-color: #023163; }
    .mlbboxscore__tablebody__teams__table--home {
      color: #fdffff;
      background-color: #cd1241; }
  .mlbboxscore__tablebody__teams {
    border-top: 2.5px solid #3f3f3f; }

table.nbaboxscore {
  border: 2.5px solid #3f3f3f;
  border-radius: .5rem;
  border-spacing: 0;
  text-align: center;
  font-size: 2rem;
  color: #151515;
  background-color: #eeeeee;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

table.nbaboxscore td,
table.nbaboxscore th {
  padding: 1.75rem; }

.nbaboxscore__tablehead__columnheaders--team, .nbaboxscore__tablehead__columnheaders--period, .nbaboxscore__tablehead__columnheaders--total {
  border-bottom: 2.5px solid #3f3f3f; }

.boxscore__team--header, .boxscore__team--away {
  display: grid;
  grid-template-columns: 10rem 20rem 10rem; }

.boxscore__team__units {
  display: grid;
  grid-template-columns: repeat(9, 2rem); }

.boxscore__team__results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.boxscore__team__results > span {
  border: 1px solid red; }

.section-NBABoxScore {
  background-image: linear-gradient(to right bottom, rgba(63, 63, 63, 0.6), rgba(238, 238, 238, 0.6)), url("../img/nbagamepage.jpg");
  height: 100vh;
  background-size: cover; }
