*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

.root {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    .root {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    .root {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    .root {
      font-size: 75%; } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-huge {
  margin-top: 10rem !important; }

.u-margin-bottom-top {
  margin-top: 8rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.grid__container {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 2rem; }

.container {
  --numberOfInnings: 9;
  display: grid;
  grid-template-columns: 20rem repeat(13, 10rem);
  grid-template-rows: repeat(3, 5rem) 10rem;
  height: 100vh;
  padding: 2rem;
  background-color: brown; }
  .container--pitcher {
    grid-column: span 14;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; }
    .container--pitcher > * {
      border: 2px solid black;
      color: black;
      background-color: green;
      display: grid;
      place-items: center;
      place-self: stretch; }
  .container > * {
    border: 2px solid black;
    color: black;
    background-color: skyblue;
    display: grid;
    place-items: center; }

.mlbboxscore {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-collapse: collapse; }
  .mlbboxscore__tablebody td:not(.mlbboxscore__tablebody__teams), .mlbboxscore__tablehead td:not(.mlbboxscore__tablebody__teams) {
    padding: .5rem;
    background-color: #f9f9fb;
    color: #3f3f3f;
    font-weight: 500; }
  .mlbboxscore__tablebody td, .mlbboxscore__tablehead td {
    border: 0.1rem solid #3f3f3f;
    text-align: center; }
  .mlbboxscore__tablebody__totals, .mlbboxscore__tablehead__totals {
    background-color: #ededed; }
  .mlbboxscore__tablebody__teams, .mlbboxscore__tablehead__teams {
    padding: 0; }
    .mlbboxscore__tablebody__teams__table, .mlbboxscore__tablehead__teams__table {
      border-collapse: collapse;
      width: 100%; }
      .mlbboxscore__tablebody__teams__table--away, .mlbboxscore__tablebody__teams__table--home, .mlbboxscore__tablehead__teams__table--away, .mlbboxscore__tablehead__teams__table--home {
        width: 40%;
        font-size: 1.5rem;
        font-weight: 600; }
      .mlbboxscore__tablebody__teams__table--gstatus, .mlbboxscore__tablehead__teams__table--gstatus {
        background-color: #eeeeee;
        color: #151515; }
      .mlbboxscore__tablebody__teams__table--away, .mlbboxscore__tablehead__teams__table--away {
        color: #fdffff;
        background-color: #023163; }
      .mlbboxscore__tablebody__teams__table--home, .mlbboxscore__tablehead__teams__table--home {
        color: #fdffff;
        background-color: #cd1241; }

.boxscore__team--header, .boxscore__team--away {
  display: grid;
  grid-template-columns: 10rem 20rem 10rem; }

.boxscore__team__units {
  display: grid;
  grid-template-columns: repeat(9, 2rem); }

.boxscore__team__results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }

.boxscore__team__results > span {
  border: 1px solid red; }
