// font-sizes
$default-font-size: 1.6rem;

// colors
$color-gray-light: #f9f9fb;
$color-gray-medium: #eeeeee;
$color-gray-dark: #3f3f3f;
$color-gray-darker: #151515;

$color-white-light: #fdffff;

$color-white: #fff;
$color-black: #000;

